@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

header {
    position: relative;
    display: flex;
    height: 200px;
    background-image: linear-gradient(#0070c0, #0070c0);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 4vw)
    );
    padding-left: 80px;
    padding-top: 25px;
  }

  header h1{
      font-size: 55px;
      font-family: poppins;
      color: #fff;
      padding-left: 10px;
      font-weight: 700;
  }


.header-title h1{
    
    /* padding-left: 90px; */
    font-family: 'Poppins';
    font-style: normal;
    font-size: 28px;
    line-height: 132.9%;
    /* or 45px */
    color: #000000;
    /* position: absolute; */
    margin-left: 90px;
}

.header-title h1 b{
    
    /* padding-left: 90px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 132.9%;
    /* or 45px */
    color: #000000;
}
.header-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.header-rules{
    /* border: 2px solid red; */
    width: 60%;
}
.header-rules h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 132.9%;
    color: #0070C0;
    margin-top:40px;
    margin-left:90px;

}
.header-rules ul li{
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 132.9%;
    color: #6A6A6A;
    margin-left:90px;
    padding-top: 10px;
}

.rectangle-container{
    position: absolute;
    width: 20%;
    height: 180px;
    right:0;
    /* top: 250px; */
    /* background: red; */
    border-radius: 29px;
    z-index: 3;
    /* border: 2px solid red; */
}

.back-rectangle-container{
    position: absolute;
    width: 368px;
    height: 151px;
    /* left: 1186px; */
    right: 0px;
    top: 5%;
    z-index: 2;
    background: #C4791F;
    border-radius: 29px 0px 0px 29px;
}
.front-rectangle-container{
    position: absolute;
    width: 400px;
    height: 151px;
    /* left: 1152px; */
    right: 0px;
    top: 10%;
    z-index: 3;
    background: #FBA032;
    border-radius: 29px 0px 0px 29px;

    display: grid;
    grid-gap: 0px;
    grid-template-columns: [col1-start] 200px  [col2-start] 100px  [col3-start] 100px [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.box {
    /* background-color: #444; */
    /* color: #fff; */
    /* border-radius: 5px; */
    /* padding: 20px; */
    /* padding-left: 10px; */
    font-size: 150%;
    /* border: 2px solid red; */
    
  }
.grid-left-top{
    grid-column: col1-start / col3-start;
    grid-row: row1-start ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    padding-top: 20px;
    text-align: right;
    line-height: 109.4%;
}
.grid-left-bottom{
    grid-column: col1-start / col3-start;
    grid-row: row2-start ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.grid-right{
    grid-column: col3-start ;
    grid-row: row1-start / row2-end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 132px;
    line-height: 109.4%;
    color: white;
}

/* 
.blank_line{
    position: static;
    height: 50px;
    margin-top: 5%;
    margin-left: -300vw;
    padding-left: 300vw;
    margin-right: -300vw;
    padding-right: 300vw;
 

    background: #0070C0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
 
} */

.tablet{
    /* position: absolute; */
    position: inherit;
    width: 1000px;
    height: auto;
    margin-left: 90px;
    margin-top:5%;

    /* z-index: 5; */
    border-radius: .8em;
    display: inline-block;
    outline: 29px solid black;
    box-shadow: 0 0 0 35px #ECECEC;
    /* padding: 20px; */
    
}
.radio-parent-label{
    font-size: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}
.parent-label{
    /* position: absolute; */
    
    width: 100%;
    height: 50px;
    margin-top: 10%;
    z-index: 5;
    background: #c9e0f1;
    /* border: 2px solid red; */
}

.parent-label h1{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 109.4%;
    /* or 27px */
    color: #000000;
    padding-top: 10px;
    
    margin-left: 5%;
}

form{
    margin-top: 5%;
}

.radio-flex{
    display: flex;
    flex-wrap: wrap;
    margin-left:70px;
}
.radio-flex div{
    width: 50%;
    padding: 10px;
}
.radio-flex div label{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 109.4%;

/* or 18px */
}

.custom-label
.radio-parent-label{
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 109.4%;
    /* margin-left:70px; */
    padding-bottom: 10px;
}

.radio-parent-label{
    margin-left:70px;
    
}
.parent-requirements-component{
    display: flex;
    flex-wrap: wrap;
    margin-left:70px;
}

.parent-requirements-component div{
    width: 50%;
    padding-top: 5%;
    /* padding: 10px; */
}
.personal-details-view{
    display: flex;
    flex-wrap: wrap;
    margin-left:70px;
}
.personal-details-view div{
    width: 50%;
    padding: 10px;
}

.submit-label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 109.4%;
    margin-left:80px;
    padding-top: 5%;

    /* or 27px */
    
    color: #000000;
}


.submit-container div label{
    
    margin-top: 3%;
    font-size:20px;
    margin-left: 80px;
    
}

.submit-container div textarea{
    width: 50%;
    height: 150px;
    margin-top: 3%;
    margin-left: 80px;   
}
.buttons{
    margin-top: 10%;
    padding-bottom: 10%;
}
#submit-button,
#back-button
{
    /* position: absolute; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    /* top: 98%; */
    width: 159px;
    height: 58px;
    font-size: 30px;
    /* margin-top:5%; */

}
#back-button{
    margin-left: 5%;
}
#submit-button{
    margin-right: 5%;
    float: right;
    /* display: block; */
}


@media (max-width: 950px) { 
    /* IPAD | TABLETS */
    header { 
        height: 150px;
      }
    header h1{
        font-size: 38px;
    }
    /* .header-flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border: 2px solid blue;

    } */

    
.header-title h1{
    font-size: 22px;
}

.header-title h1 b{
    font-size: 25px;
}
    
}


@media (max-width: 1500px) { 
    
    
    .back-rectangle-container{ 
        height: 120px;
        width: 250px;
        background: #C4791F;
    }
    .front-rectangle-container{
        
        width: 300px;
        height: 120px;
        grid-template-columns: [col1-start] 100px  [col2-start] 100px  [col3-start] 100px [col3-end];
        grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    }
    .grid-left-top{
        font-size: 35px;
        padding-top: 20px;
        text-align: right;
        line-height: 109.4%;
    }
    .grid-right{
        font-size: 100px;
    }
 }
 @media(max-width: 1150px){
     
.tablet{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
 }
 @media (max-width: 765px) {
    /* PHONE  */


    
header {
    
    height: 150px;
    padding-left: 0px;
    padding-top: 10px;
    }
  
header h1{
    font-size: 40px;
    padding-left: 10px;
    }

.header-title h1{
    font-size: 20px;
    margin-left: 10px;
    }
    
.header-title h1 b{
    font-size: 25px;
}   
.header-flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    margin-left: 0px;
    /* border: 2px solid red; */
}
/* YOU WANT IT JUST SAY IT COMPONENT  */

.rectangle-container{
    position:relative;
    width: 100%;
    height: 180px;
    margin-left: 0px;

    /* margin-top: 10%; */
    /* right:0; */
    /* border: 2px solid red; */
    }
.back-rectangle-container{
    /* position: absolute; */
    width: 100%;
    height: 151px;
    /* left: 1186px; */
    /* right: 0px; */
    margin-top: 5%;
    z-index: 2;
    background: #C4791F;
    border-radius: 29px 0px 0px 29px;
    }
.front-rectangle-container{
    /* position: absolute; */
    width: 100%;
    height: 150px;
    margin-top: 10%;
    border-radius: 0px 0px 0px 0px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: [col1-start] 75%  [col2-start] 0px  [col3-start] 25% [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    }
.grid-left-top{
    font-size: 45px;
    /* padding-top: 20px; */
    text-align: right;
    line-height: 109.4%;
    }
.grid-right{
    font-size: 132px;
    line-height: 109.4%;
    color: white;
    }
.header-rules{
        width: 100%;
    }
.header-rules h2{
        font-size: 35px;
        margin-top:10%;
        margin-left:10px;
    }
.header-rules ul li{
        font-size: 18px;
        margin-left:10px;
        padding-top: 10px;
    }

.tablet{
        /* position: absolute; */
        position: inherit;
        width: 100%;
        margin-left: 0px;
        margin-top:5%;
        border-radius: .8em;
        outline: 2px solid black;
        box-shadow: 0 0 0 3px #ECECEC;
        /* padding: 20px; */
    }
.radio-parent-label{
        margin-left:10px;
        
    }
.radio-flex{
        display: flex;
        flex-wrap: wrap;
        margin-left:30px;
    }
    
.parent-requirements-component{
        display: flex;
        flex-wrap: wrap;
        margin-left:30px;
    }
.parent-requirements-component div{
        width: 80%;
        padding-top: 5%;
        /* padding: 10px; */
    }
}
