@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



/* MODAL */
.custom-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    /* filter: blur(40px); */
    background: url("./modal_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Modal Content */
  .custom-modal-content{
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    
  }
  .goshawk-modal{
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:  auto auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    animation: showModal 4s;
  }
  .goshawk-modal :nth-child(3) {  
    
background: rgba(11, 222, 121, 0.3);

  }
  .goshawk-modal :nth-child(4) {  
  
    background: rgba(222, 163, 11, 0.3);

 
  }
  .goshawk-modal :nth-child(5) {  
    background: rgba(11, 184, 222, 0.3);
  }
  .goshawk-modal :nth-child(6) {  
    background: rgba(11, 121, 222, 0.3);
  }
  .goshawk-modal :nth-child(7) {  
    
    background: rgba(222, 112, 11, 0.3); 
  }
  .goshawk-modal :nth-child(8) {  
    background: rgba(222, 11, 214, 0.3); 
  }
  .goshawk-modal :nth-child(9) {  
    background: rgba(15, 11, 222, 0.3);
  }
  .goshawk-modal :nth-child(10) {  
    background: rgba(135, 70, 70, 0.3); 
  }
  .goshawk-modal .subtitle{
      font-size: 20px;
      font-family: poppins;
      font-weight: 700;
  }
  
  .goshawk-modal-header-left{
      /* position: absolute;  */
      /* border: 2px solid red; */
      padding-left: 50px;
      width:70%;
  }
  .goshawk-modal-header-right{
    /* border: 2px solid red; */
    width:30%;
}
.goshawk-modal-header-right img{
    float: right ;
    width: 97px;
    height: 110px;
}
.goshawk-modal-content{
        width: 20%;
        margin: 10px 15px;
        border-radius: 20px;
        padding: 20px;
        height: 300px;
        text-align: center;
        /* flex-grow: 1; */
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
    font-size: 50px;
  }
  .outerClose {
   display: none;
  }
  
  .close:hover,
  .close:focus,
  .outerClose:hover,
  .outerClose:focus
   {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



/* ################### MODAL ################### */


*{
    font-family: 'Poppins';
    font-weight: 300;
}
.title{
    display: flex;
    justify-content: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.custom-form-label{
    font-weight: 300;
  font-size:16px;
}
.custom-form-check-input{
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
   
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    border-radius: 50%;
    float: left;
margin-left: -1.5em;
        
}
.custom-form-check-input:checked[type="radio"]{
    background-color: white;
border-color: #0d6efd;
border: 5px solid #0d6efd


}

header {
    position: relative;
    display: flex;
    height: 200px;
    background-image: linear-gradient(#0070c0, #0070c0);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 calc(100% - 4vw)
    );
    padding-left: 80px;
    padding-top: 25px;
  }

  header h1{
      font-size: 55px;
      font-family: poppins;
      color: #fff;
      padding-left: 10px;
      font-weight: 700;
      margin-top: 20px;
  }


.header-title h1{
    
    /* padding-left: 90px; */
    font-family: 'Poppins';
    font-style: normal;
    font-size: 28px;
    line-height: 132.9%;
    /* or 45px */
    color: #000000;
    /* position: absolute; */
    margin-left: 90px;
}

.header-title h1 b{
    
    /* padding-left: 90px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 132.9%;
    /* or 45px */
    color: #000000;
}
.header-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.header-rules{
    /* border: 2px solid red; */
    width: 60%;
}
.header-rules h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 132.9%;
    color: #0070C0;
    margin-top:40px;
    margin-left:90px;
    text-decoration: underline;
    cursor: pointer;
}
.header-rules ul li{
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 132.9%;
    color: #6A6A6A;
    margin-left:90px;
    padding-top: 10px;
}

.rectangle-container{
    position: absolute;
    width: 20%;
    height: 180px;
    right:0;
    /* top: 250px; */
    /* background: red; */
    border-radius: 29px;
    z-index: 0;
    /* border: 2px solid red; */
}

.back-rectangle-container{
    position: absolute;
    width: 368px;
    height: 151px;
    /* left: 1186px; */
    right: 0px;
    top: 5%;
    z-index: 2;
    background: #C4791F;
    border-radius: 29px 0px 0px 29px;
}
.front-rectangle-container{
    position: absolute;
    width: 400px;
    height: 151px;
    /* left: 1152px; */
    right: 0px;
    top: 15%;
    z-index: 3;
    background: #FBA032;
    border-radius: 29px 0px 0px 29px;

    display: grid;
    grid-gap: 0px;
    grid-template-columns: [col1-start] 200px  [col2-start] 100px  [col3-start] 100px [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}


.grid-left-top{
    grid-column: col1-start / col3-start;
    grid-row: row1-start ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    padding-top: 20px;
    text-align: right;
    line-height: 109.4%;
}
.grid-left-bottom{
    grid-column: col1-start / col3-start;
    grid-row: row2-start ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.grid-right{
    grid-column: col3-start ;
    grid-row: row1-start / row2-end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 132px;
    line-height: 109.4%;
    color: white;
}

/* 
.blank_line{
    position: static;
    height: 50px;
    margin-top: 5%;
    margin-left: -300vw;
    padding-left: 300vw;
    margin-right: -300vw;
    padding-right: 300vw;
 

    background: #0070C0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
 
} */

.tablet-container{
    
    background-image: url('https://cdn.shopify.com/s/files/1/0311/6263/0189/t/20/assets/tablet.png');
    background-repeat: no-repeat;
    border: 2px solid transparent;
    background-size: 1200px 1500px;
    height: 1500px;
    width: 1500px;

}
.tablet{
    /* border: 2px solid blue; */
    /* 
    margin-right: 50%;
    
    margin-bottom: 20%; */
    /* background-color: #f0f7fc; */
    margin-left: 5.6%;
    margin-top: 10%;
    width: 993px;
    height: 800px;
    
    
    /* width: 980px; */

    /* position: absolute; */
    /* position: inherit;
    width: 1200px;
    height: auto;
    margin-left: 90px;
    margin-top:5%;

    
    border: 2px solid red;
    border-radius: .8em;
    display: inline-block; */
    /* outline: 29px solid black;
    box-shadow: 0 0 0 35px #ECECEC; */
    

    color: #000000;
}

.radio-parent-label{
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-transform:none;
}
.parent-label{
    height: 50px;
    margin-top: 3%;
    margin-left: 1px;
    
    width: 99.9%;
    z-index: 5;
    background: #c9e0f1;
    /* border: 2px solid green; */
    
   
}


.parent-label h1{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 109.4%;
    /* or 27px */
    color: #000000;
    padding-top: 10px;
    
    margin-left: 5%;
}

form{
    margin-top: 5%;
}
#form-select, #processor, #ram, #hdd, #budget, #windowsCopy{
    width: 50%;
    border:0px;
    outline:0px;
}

.radio-flex{
    display: flex;
    flex-wrap: wrap;
    margin-left:80px;
}
.radio-flex div{
    width: 50%;
    padding: 10px;
}
.radio-flex div label{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 109.4%;

/* or 18px */
}

.custom-label
.radio-parent-label{
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 109.4%;
    /* margin-left:70px; */
    padding-bottom: 10px;
}

.radio-parent-label{
    margin-left:70px;
    
}
.parent-requirements-component{
    display: flex;
    flex-wrap: wrap;
    margin-left:70px;
    /* border: 2px solid red; */
    
}

.pc-spec-parent-container{
    width: 50%;
    padding-top: 5%;
    
}
.specs-radio-container {
    display:flex;
    margin-top: 5;
    
}
.radio-div{
    padding-right: 35px;
    padding-left: 0px;
    font-size: 16px;
}
.radio-div label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 109.4%;
}

/* ############# RANGE SLIDER #####################  */

/* ############# RANGE SLIDER #####################  */




.personal-details-view{
    display: flex;
    flex-wrap: wrap;
    /* margin-left:70px; */
    margin: 0px 40px;
}
.personal-details-view div{
    width: 50%;
    padding: 10px;
}

.submit-label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 109.4%;
    margin-left:40px;
    padding-top: 5%;

    /* or 27px */
    
    color: #000000;
}


.submit-container div label{
    
    margin-top: 3%;
    font-size:16px;
    margin-left: 40px;
    
}

.submit-container div textarea{
    width: 50%;
    height: 150px;
    margin-top: 3%;
    margin-left: 40px;   
}
.buttons{
    margin-top: 10%;
    padding-bottom: 10%;
}
#submit-button,
#back-button
{
    /* position: absolute; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    /* top: 98%; */
    width: 159px;
    height: 58px;
    font-size: 30px;
    /* margin-top:5%; */

}
#back-button{
    margin-left: 5%;
}
#submit-button{
    margin-right: 5%;
    float: right;
    /* display: block; */
}




@media (max-width: 1500px) { 
    
    
    .back-rectangle-container{ 
        height: 120px;
        width: 250px;
        background: #C4791F;
    }
    .front-rectangle-container{
        
        width: 300px;
        height: 120px;
        grid-template-columns: [col1-start] 100px  [col2-start] 100px  [col3-start] 100px [col3-end];
        grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    }
    .grid-left-top{
        font-size: 35px;
        padding-top: 20px;
        text-align: right;
        line-height: 109.4%;
    }
    .grid-right{
        font-size: 100px;
    }
 }
@media (max-width: 1420px) {
    .goshawk-modal-content{
        width: 28%;
        margin: 10px 15px;
        border-radius: 20px;
        padding: 15px;
        height: 300px;
        text-align: center;
        /* flex-grow: 1; */
  }
  /* .goshawk-modal :nth-child(9) {  
    width: 30%;
  }
  .goshawk-modal :nth-child(10) {  
    width: 30%;
  } */
 }
 @media(max-width: 1200px){
     
    .custom-modal-content{
        top: 60%;
        width: 30%;
    }

    .tablet-container{
    
        background-image:none;
        border: 2px solid transparent;
        background-size: 1200px 1400px;
        height: auto;
        width: auto;
        width: 90%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .tablet{
        /* border: 2px solid blue; */
        /* 
        margin-right: 50%;
        
        margin-bottom: 20%; */
        
        
        margin-top: 10%;
        width: auto;
        height: auto;
        
        
        /* width: 980px; */
    
        /* position: absolute; */
        position: inherit;
        margin-left: 91px;
        margin-top:5%; 
        border-radius: .8em;
        display: inline-block;
        outline: 29px solid black;
        /* box-shadow: 0 0 0 35px #ECECEC; */
        /* border: 200px solid red; */
    
        color: #000000;
    }

 }
 @media (max-width: 1000px) {
    .goshawk-modal{
        width: 85%;
      }
 }
 
@media (max-width: 950px) { 
    /* IPAD | TABLETS */
    .goshawk-modal{
        width: 90%;
      }
    .goshawk-modal-content{
        width: 40%;
        margin: 10px 15px;
        border-radius: 20px;
        padding: 15px;
        height: 300px;
        text-align: center;
        /* flex-grow: 1; */
  }


.radio-parent-label{
    margin-left: 50px;
    }  
.radio-flex{
    margin-left: 50px;
    }
.parent-requirements-component{
    margin-left: 50px;
    }

.radio-div{
    padding-right: 20px;
    font-size: 16px;
    }

.logo{
        width: 80px;
        height: 80px;
    }
header { 
        height: 150px;
    }
header h1{
        font-size: 38px;
    }
.header-title h1{
    font-size: 22px;
    }

.header-title h1 b{
    font-size: 25px;
    }
    
}
 @media (max-width: 765px) {
    /* PHONE  */
    .outerClose {
        display: block;
        position: absolute;
        top: 0%;
        right: 1%;
      color: black;
      float: right;
      font-weight: bold;
      font-size: 50px;
    }

    .custom-modal-content{
        width: 75%;
      }
    .radio-div{
        padding-right: 40px;
        font-size: 16px;
    }
    .logo{
        width: 60px;
        height: 60px;
    }
    
header {
    
    height: 120px;
    padding-left: 10px;
    padding-top: 10px;
    }
  
header h1{
    font-size: 30px;
    padding-left: 10px;
    padding-top: 0px;
    }

.header-title h1{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    }
    
.header-title h1 b{
    font-size: 25px;
}   
.header-flex{
    display: contents;
    
    /* border: 2px solid red; */
}
/* YOU WANT IT JUST SAY IT COMPONENT  */

.rectangle-container{
    position:relative;
    width: 100%;
    height: 120px;

    }
.back-rectangle-container{
    width: 358px;
    height: 117px;    
    margin-top: 0%;
    z-index: 2;
    background: #C4791F;
    border-radius: 29px 20px 20px 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    
    }
.front-rectangle-container{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 375px;
    height: 133px;
    margin-top: 1px;
    border-radius: 29px;
    display: grid;
    padding: 15px 0px 0px 10px;
    grid-gap: 0px;
    grid-template-columns: [col1-start] 60%  [col2-start] 0px  [col3-start] 40% [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    }
.grid-left-top{
    font-size: 30px;
    padding: 20px 0px 20px 40px;
    text-align: center;
    margin-right: 10px;
    line-height: 109.4%;
    /* border: 2px solid red; */
    }
.grid-right{
    font-size: 90px;
    line-height: 109.4%;
    color: white;
    /* border: 2px solid red; */
    }
.header-rules{
        width: 100%;
    }
.header-rules h2{
        font-size: 22px;
        margin-top:15%;
        margin-left:10px;
    }
.header-rules ul li{
        font-size: 16px;
        margin-left:8px;
        padding-top: 10px;
        list-style-type: disc;
        
    }
.header-rules ul li ::before{
content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
        
    }

.tablet-container{
        background-image:none;
        border: 2px solid transparent;
        background-size: 1200px 1200px;
        width: 100%;
    }
.tablet{
        /* position: absolute; */
        position: inherit;
        
        margin-top:5%;
        border-radius: .8em;
        outline:none;
        box-shadow: none;
        margin-left: 0px;
  		height:auto;
 
        /* padding: 20px; */
    }

.parent-label{
        height: 50px;
        margin-top: 3%;
        left: 0%;
        width: 100%;
        z-index: 5;
        background: #c9e0f1;
        /* border: 2px solid green; */
        
       
    }
.radio-parent-label{
        margin-left:10px;
        
    }
.radio-flex{
        display: flex;
        flex-wrap: wrap;
        margin-left:20px;
    }
    .radio-flex div{
        width: 100%;
        padding: 10px;
    }
    
    

    
.parent-requirements-component{
        display: flex;
        flex-wrap: wrap;
        margin-left:0px;
    }
.pc-spec-parent-container{
        width: 90%;
        padding-top: 5%;
       margin-left:10px;
    }

    /* PERSONAL DETAILS */

#form-select, #processor{
    width: 100%;
    float: right;
    border:0px;
    outline:0px;
}
.personal-details-view{
    display: flex;
    flex-wrap: wrap;
    margin-left:5px;
    }
.personal-details-view div{
    width: 50%;
    padding-bottom: 1px;

    }
/* SUBMIT DETAILSS */
.submit-label{
 
        font-size: 25px;
        margin-left:10px;
    }
    
.submit-container{
    margin-left: 10px;
    }  
    .submit-container div label{
        
        margin-top: 5%;
        font-size:20px;
        margin-left: 10px;
        
    }
    
    .submit-container div textarea{
        width: 90%;
        height: 100px;
        margin-top: 3%;
        margin-left: 10px;
        
    }
.buttons{
        margin-top: 10%;
        padding-bottom: 10%;
    }
    #submit-button,
    #back-button
    {
        
        width: 100px;
        height: 50px;
        font-size: 18px;
        
        /* margin-top:5%; */
    
    }
    #back-button{
        margin-left: 5%;
    }
    #submit-button{
        margin-right: 5%;
        float: right;
        /* display: block; */
    }
}

@media (max-width: 600px) {
    
    .goshawk-modal-content{
        
    width: 45%;
    margin: 10px 10px;
    padding: 12px;
  }
 }

 @media (max-width: 500px) {
     /* ABOUT GOSHAWK MODAL PHONE */
     .goshawk-modal{
        width: 100%;
      }

    .goshawk-modal-content{
    cursor: pointer;     
    width: 100%;
    margin: 2px 10px;
    padding: 12px;
    height: auto;
  }
  .goshawk-modal-content div{
    display: none;
  }
  .show-goshawk-modal-content{
    display: block;
    transition:all 1s ease-out;
    animation: showContent 1s;
  }
  @keyframes showContent {
    from {opacity: 0%,}
    to {opacity: 100%;}
  }
 }
 
 @keyframes showModal {
    from {opacity: 0%,}
    to {opacity: 100%;}
  }
 
